.parallax {
    position: relative;
    bottom: 50px;
    /* The image used */
    background-image: url(".././public/images/pablo-merchan-montes-Orz90t6o0e4-unsplash.jpg");

    /* Set a specific height */
    min-height: 1000px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    position: relative;
    bottom: 50px;
    /* The image used */
    background-image: url("../public/images/johnathan-macedo-4NQEvxW2_4w-unsplash.jpg");

    /* Set a specific height */
    min-height: 1000px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    position: relative;
    bottom: 50px;
    /* The image used */
    background-image: url("../public/images/johnathan-macedo-4NQEvxW2_4w-unsplash.jpg");

    /* Set a specific height */
    min-height: 1000px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    position: relative;
    bottom: 50px;
    /* The image used */
    background-image: url("../public/images/holly-stratton-ToswmEekSFI-unsplash.jpg");

    /* Set a specific height */
    min-height: 1000px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 50px;
    height: 1000px;
    background-color: black;
    font-size: medium;
}