.parallax {
  position: relative;
  bottom: 50px;
  /* The image used */
  background-image: url('.././public/images/pablo-merchan-montes-Orz90t6o0e4-unsplash.jpg');

  /* Set a specific height */
  min-height: 600px;
width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Section{
  position: relative;
  background-color: #1e1e22;
  width: 100%;
  min-height: 75vh;
  padding: 0 calc(20vw - 70px);
  z-index: 1
}


.sticky {
  margin-top: -50vh;
  width: 100vw;
  height: 100vh;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 0;
}


.parallax2 {
  position: relative;
  bottom: 50px;
  /* The image used */
  background-image: url('../public/images/johnathan-macedo-4NQEvxW2_4w-unsplash.jpg');

  /* Set a specific height */
  min-height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  position: relative;
  bottom: -50px;
  /* The image used */
  background-image: url('../public/images/holly-stratton-ToswmEekSFI-unsplash.jpg');

  /* Set a specific height */
  min-height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 50px;
  height: 1000px;
  background-color: black;
  font-size: medium;
}

.bongos {
  width: 0 auto;
  color: 'white';
  position: relative;
  bottom: 40px;
  text-align: right;
  z-index: 1;
}

@media only screen and (max-width: 600px){
    .bongos{
        position: relative;
        left: 0;
        bottom: 25px;
        width: 0 auto;
        font-size: 10px;
        text-align: center;
    }
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
  .parallax2 {
    background-image: url('../public/images/le-creuset-LJ8OnqaYUqw-unsplash.jpg');
  }
  .parallax3{
    background-attachment: scroll;
  }
}
