

.removeUnderline{
  text-decoration: none;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
    margin: 0;
      padding: 150px 0;
      /* adjust this value to make room for the header */
      background-image: url('/images/background/ingBG3-dark.jpg');
      background-size: cover;
      min-height: 650px;
      
}


.link {
  text-decoration: none;
  color: #ffffff;
  background-color: #10a37f;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.link:hover {
  background-color: #10a37f;
}


.body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.audio {
  display: flex;
  justify-content: flex-end;
}

.audioControl {
  margin: 10px;
}

.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.724);
  z-index: 100;
  color: white;
}

.loadingBox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.loading h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
  color: white;
}

.loading img {
  width: 600px;
  height: auto;
}


.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  /* color: #101010; */
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  max-width: 1000px;
}
.icon {
  width: 300px;
  margin-bottom: 40px;
  /* filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 20)); */
}
.main h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  /* color: #696969; */
  margin: 16px 0 40px;
}
.main form {
  display: flex;
  flex-direction: column;
  width: 320px;
}
.main input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 24px;
  outline-color: #10a37f;
  color: #3a3a3a;
}
.main ::placeholder {
  color: #373737;
  opacity: 1;
}
.main input[type="submit"] {
  padding: 12px 0;
  color: #181818;
  background-color: #10a37f;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.trivia {
  font-family: 'Roboto', sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  font-weight: bold;
  /* color: #000000; */
  text-align: center;
  margin: 50px auto;
  word-wrap: break-word; 
  max-width: 80%;
  animation: slide-up 1s ease-out forwards;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  /* text-shadow: 0 0 1px #ffffff; */
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.triviaBox {
  /* position: fixed; */
  min-width: 0 auto;
  height: 100%;
  margin: 50px 0;
  /* margin-top: 50px;
  margin-bottom: 50px; */
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.triviaContainer {
  margin: auto;
  animation: slide-up 1s ease-out forwards;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}





@media (max-width: 600px) {
  .trivia {
    font-size: 20px;
    margin: 0 auto;
  }
}


.recipe-container {
  max-width: 1500px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}


.recipeMulti {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}

.recipe h1, .recipe h2, .recipe h3, .recipe p {
  margin-left: 50px;
}

.fav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('https://i.pinimg.com/originals/83/3d/9e/833d9e17c5997c7125d636c47c926a1f.jpg');
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  box-shadow: -5px 5px 9px rgba(0, 0, 0, 1);
  border: 1px solid #b5b5b5;
}

.fav h1  {
  font-family: 'Arial', sans-serif;
  color: #2c3e50;
  margin-bottom: 10px;
  text-align: center;
}

.fav h1,
.fav h2,
.fav h3,
.fav h4,
.fav h5,
.fav h6 {
  font-family: 'Arial', sans-serif;
  color: #2c3e50;
  margin-bottom: 10px;
}

.fav p {
  font-size: 18px;
  line-height: 1.6;
  color: #34495e;
  margin-bottom: 10px;
  text-align: center;
}

.fav ul,
.fav ol {
  font-size: 18px;
  line-height: 1.6;
  color: #34495e;
}

.fav blockquote {
  border-left: 4px solid #7f8c8d;
  padding-left: 1em;
  color: #7f8c8d;
  font-style: italic;
  margin-bottom: 10px;
}


.recipe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('https://i.pinimg.com/originals/83/3d/9e/833d9e17c5997c7125d636c47c926a1f.jpg');
  padding: 20px;
  max-width: 75%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  border: 1px solid #b5b5b5;
}

.recipe h1  {
  font-family: 'Arial', sans-serif;
  color: #2c3e50;
  margin-bottom: 10px;
  text-align: center;
}

.recipe h1,
.recipe h2,
.recipe h3,
.recipe h4,
.recipe h5,
.recipe h6 {
  font-family: 'Arial', sans-serif;
  color: #2c3e50;
  margin-bottom: 10px;
}

.recipe p {
  font-size: 18px;
  line-height: 1.6;
  color: #34495e;
  margin-bottom: 10px;
  text-align: center;
}

.navButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 35px;
}

.recipe ul,
.recipe ol {
  font-size: 18px;
  line-height: 1.6;
  color: #34495e;
}

.recipe blockquote {
  border-left: 4px solid #7f8c8d;
  padding-left: 1em;
  color: #10a37f;
  font-style: italic;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .recipe-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}


.suggestions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
  list-style-type: none;
  padding: 0;
}

.suggestions li {
  background-color: #10a37f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 1.5;
  word-spacing: 0.25em;
  white-space: pre-wrap;
}

.suggestions li:hover {
  background-color: #10a37f;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.Hard-Boiled Eggs
  15);
  cursor: pointer;
}

.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.result a {
  display: block;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #292929;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.result a:hover {
  background-color: #10a37f;
  color: #fff;
}

.back{
  color: white;
}

.ingredientsList {
  position: fixed;
  left: 0;
  top: 65px;
  width: 20%;
  align-items: center;
  height: 100%;
  overflow-y: scroll;
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.ingredientItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  color: #e0e0e0;
}

.ingredientItem:hover {
  background-color: #8f8d8d;
}

.mealList {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 20px;
  right: 0;
  top: 65px;
  width: 20%;
  align-items: center;
  height: 100%;
  overflow-y: scroll;
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

}

.mealItem {
  padding: 0.5rem;
  border-bottom: 1px solid #10a37f;
  cursor: pointer;
  color: #e0e0e0;
}

.mealItem:hover {
  background-color: #15c398;
}

.ingredientDetails {
  position: fixed;
  top: 80px;
  left: 25%;
  width: 30%;
  height: 50%;
  padding: 20px;
  background-color: rgb(123, 123, 123);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.favorite {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: -50px;
  z-index: 2;
  position: absolute;
}

.favorite:hover {
  cursor: pointer;
  z-index: 2;
}

.reasons{
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  margin-bottom: 150px;
  margin-top: 100px;
  height: auto;
  padding-bottom: 100px;
  
}

.reasonCard{
  max-width: 0 auto;
  margin: 20px;
  text-align: center;
}



.parallax {
  position: relative;
  bottom: 50px;
  /* The image used */
  background-image: url('.././public/images/background/ingBG1.jpg');

  /* Set a specific height */
  min-height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}