.alignRight {
  display: flex !important;
  justify-content: right !important;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glitch {
  font-size: 2vw;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  /* font-weight: bold; */
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  margin: 0;
  color: #fff;
  letter-spacing: 5px;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-glitch);
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}

.glitch:after {
  color: #f0f;
  z-index: -2;
}

.glitch:before {
  color: #0ff;
  z-index: -1;
}

.glitch:hover:before {
  animation: glitch 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 5;
}

.glitch:hover:after {
  animation: glitch 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both 5;
}

.dialogBox {
  border: 10px inset black !important;
  background-color: #ffffff;
  padding: 10px;
  margin: 30px;
}

.dialogTitle {
  font-size: 40px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ff7b00;
  text-align: center;
}

.nutritionFacts {
  font-size: 30px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.perServing {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 10px solid #333;
  display: flex;
  justify-content: space-between;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.calories {
  font-weight: bold;
  border-bottom: 5px solid #333;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.fat,
.carbs,
.protein {
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.fat,
.carbs {
  border-bottom: 1px solid #333;
}

.protein {
  border-bottom: 10px solid #333;
}

.nutritionImg {
  display: block;
  margin: auto;
  width: 120px;
}

.ingredientItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid #10a37f;
  cursor: pointer;
  color: #e0e0e0;
}

.ingredientItem:hover {
  background-color: #10a37f;
}

@media only screen and (max-width: 800px) {
  .glitch {
    font-size: 5em;
  }
}

@media only screen and (max-width: 799px) and (min-width: 500px){
  .glitch {
    font-size: 3em;
  }
  .hidden{
  display: none;
  }
}

@media only screen and (max-width: 499px) and (min-width: 200px){
  .glitch {
    font-size: 1.5em;
  }
  .hidden{
  display: none;
}
}

.AboutUs{
    font-family: Roboto, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3vw;
    text-decoration: none;
    color: white;
    position: relative;
    margin: 0;
    letter-spacing: 1px;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-5px, 5px);
  }
  40% {
    transform: translate(-5px, -5px);
  }
  60% {
    transform: translate(5px, 5px);
  }
  80% {
    transform: translate(5px, -5px);
  }
  to {
    transform: translate(0);
  }
}

