.techHeader{
    display: flex;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}
.techName{
    margin-left: 10px;
}
.techCard{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

@media only screen and (max-width: 1000px){
    .techCard{
        height: 0 auto;
        width: auto;
    }
}